{% extends 'base.html.twig' %}

{% block title %}{{ book.title | capitalize }} | La Réserve de la Chapelle{% endblock %}

{% block body %}
<div class="container-fluid dashboard">
    <div class="row col">
        {{ include ('_dashboard-navigation.html.twig') }}
        <div class="col mt-3 ms-5">
            {{ include ('_navigation.html.twig') }}

            <section class="mt-5 pt-5">
                <h1 class="mt-5 ps-5">Livre #{{ book.id }}</h1>
            </section>

            <section class="me-5 ps-5 d-flex">
                <figure class="book-cover-show me-5 rounded-4">
                    <img src="{{ vich_uploader_asset(book,'folderImage') }}" alt="Photo de couverture du livre" class="rounded-4">
                    <div class="book-cover-info">
                        <p class="text-white fw-bold fs-3 text-end">{{ book.title |capitalize }}</p>
                        <p class="text-white fw-light text-end">{{ book.author | title }}</p>
                    </div>

                    {% if book.isFavorite %}
                        <svg class="float-start" width="44" height="44" viewBox="0 0 24 24" fill="#8887B9" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.16 5.00017C19.1 3.93737 17.6948 3.28871 16.1984 3.17134C14.7019 3.05397 13.2128 3.47563 12 4.36017C10.7277 3.4138 9.14402 2.98468 7.56795 3.1592C5.99188 3.33373 4.54047 4.09894 3.506 5.30075C2.47154 6.50256 1.93085 8.05169 1.99283 9.63618C2.05481 11.2207 2.71485 12.7228 3.84003 13.8402L10.05 20.0602C10.57 20.5719 11.2704 20.8588 12 20.8588C12.7296 20.8588 13.43 20.5719 13.95 20.0602L20.16 13.8402C21.3276 12.6654 21.983 11.0764 21.983 9.42017C21.983 7.76389 21.3276 6.1749 20.16 5.00017ZM18.75 12.4602L12.54 18.6702C12.4694 18.7415 12.3853 18.7982 12.2926 18.8368C12.1999 18.8755 12.1005 18.8954 12 18.8954C11.8996 18.8954 11.8002 18.8755 11.7075 18.8368C11.6148 18.7982 11.5307 18.7415 11.46 18.6702L5.25003 12.4302C4.46579 11.6285 4.02664 10.5516 4.02664 9.43017C4.02664 8.3087 4.46579 7.23182 5.25003 6.43017C6.04919 5.64115 7.127 5.19873 8.25003 5.19873C9.37306 5.19873 10.4509 5.64115 11.25 6.43017C11.343 6.52389 11.4536 6.59829 11.5755 6.64906C11.6973 6.69983 11.828 6.72596 11.96 6.72596C12.092 6.72596 12.2227 6.69983 12.3446 6.64906C12.4665 6.59829 12.5771 6.52389 12.67 6.43017C13.4692 5.64115 14.547 5.19873 15.67 5.19873C16.7931 5.19873 17.8709 5.64115 18.67 6.43017C19.4651 7.22132 19.9186 8.29236 19.9336 9.41385C19.9485 10.5353 19.5237 11.6181 18.75 12.4302V12.4602Z"/>
                        </svg>
                    {% endif %}

                </figure>
                <div class="col-8 d-flex flex-column ms-3 book-description-show">
                    <h2>{{ book.title | capitalize }}</h2>
                    <p class="fst-italic">par {{ book.author | title }}</p>
                    <p>Genre : {% for type in book.type %}{{ type.name | capitalize }} {% endfor %}</p>
                    <p class="fst-italic">Publié le {{ book.publishedAt ? book.publishedAt|date('d/m/Y') : '' }}</p>
                    <label>Description</label>
                    <div class="overflow-scroll">
                        <p>{{ book.description | nl2br }}</p>
                    </div>
                </div>
            </section>

            <section class="d-flex justify-content-center">
                {#  <a href="{{ path('book_index') }}">back to list</a>#}
                <form method="post" action="{{ path('book_delete', {'id': book.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="me-3">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                    <button class="btn btn-danger text-white px-4">Supprimer</button>
                </form>
                <button class="btn btn-secondary ms-3 px-5">
                    <a class="text-white text-decoration-none" href="{{ path('book_edit', {'id': book.id}) }}">Modifier</a>
                </button>
            </section>


        </div>
    </div>
</div>
{% endblock %}

{#  }{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Img_cover</th>
                <td>{{ book.imgCover }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ book.updatedAt ? book.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Published_at</th>
                <td>{{ book.publishedAt ? book.publishedAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>Is_reserved</th>
                <td>{{ book.isReserved ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Is_favorite</th>
                <td>{{ book.isFavorite ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">back to list</a>

    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}#}
