{% extends 'base.html.twig' %}

{% block title %}Modifier l'emprunt #{{ loan.id}} | La Réserve de la Chapelle{% endblock %}



{% block body %}
    <div class="container-fluid dashboard">
        <div class="row col">
            {{ include ('_dashboard-navigation.html.twig') }}
            <div class="col mt-3 ms-5">
                {{ include ('_navigation.html.twig') }}

                {# TITLE OF DASHBOARD]#}
                    <section class="mt-5 pt-5">
                        <a class="text-uppercase fw-bold text-decoration-none" href="{{ path('loan_index') }}"> &#60 Retourner aux emprunts</a>
                        <h1 class="mt-5">Emprunt #{{ loan.id }}</h1>
                        <p class="mb-0"><span class="fw-normal">Livre : </span>{{ loan.book}} de <span class="fst-italic">{{ loan.book.author | title }}</span></p>
                        <p><span class="fw-normal">Emprunté par : </span>{{ loan.user}} {{ loan.user.lastname }}</p>
                    </section>

                    <section class="row col-12 col-xxl-9 my5 me-5 shadow rounded-4 bg-white is-loan">
                        <div class="d-flex flex-column flex-xl-row ps-5 pt-5">
                            <figure class="book-cover-show me-5 rounded-4">
                                <img src="{{ vich_uploader_asset(loan.book,'folderImage') }}" alt="Photo de couverture du livre" class="rounded-4">
                                <div class="book-cover-info">
                                    <p class="text-white fw-bold fs-3 text-end">{{ loan.book |capitalize }}</p>
                                    <p class="text-white fw-light text-end">{{ loan.book.author | title }}</p>
                                </div>
                            </figure>
                            <div class="flex-grow-1 px-5">
                                {{ form_start(form) }}
                                {{ form_row(form.date_reserved) }}
                                {{ form_row(form.date_loan) }}
                                {{ form_row(form.status) }}
                                <button class="btn btn-primary text-uppercase w-100 mt-4" type="submit">Enregister</button>
                                {{ form_end(form) }}
                                {#  {{ include('loan/_form.html.twig', {'button_label': 'Update'}) }}#}
                            </div>
                        </div>
                    </section>

                    {#  <a href="{{ path('loan_index') }}">back to list</a>
                    {{ include('loan/_delete_form.html.twig') }}#}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = ()=> {
            let input = document.querySelector('.input-js');
            let status = document.querySelector('.input-js').value;

            if(status == 'Emprunté'){
                input.options[0].remove(0)
            }
        }
    </script>
{% endblock %}
