{% set route = app.request.pathinfo %}

{# NAVIGATION FOR DASHBOARD #}
{% if route starts with '/dashboard' %}
    <ul class="nav w-100 d-flex justify-content-end">
        <li class="nav-item d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" class="me-1"
                 viewBox="0 0 19.3 17.1" style="enable-background:new 0 0 19.3 17.1;" xml:space="preserve">
                <path class="st0" fill="#33306F" d="M19.2,14.8l-0.9-3.5L15.4,0.7c-0.1-0.2-0.2-0.4-0.4-0.6C14.8,0,14.5,0,14.3,0l-3.5,0.9
                c-0.1-0.1-0.2-0.2-0.3-0.2c-0.1-0.1-0.2-0.1-0.4-0.1H0.9c-0.2,0-0.5,0.1-0.6,0.3C0.1,1.1,0,1.3,0,1.6v14.7c0,0.2,0.1,0.5,0.3,0.6
                c0.2,0.2,0.4,0.3,0.6,0.3h9.2c0.2,0,0.5-0.1,0.6-0.3c0.2-0.2,0.3-0.4,0.3-0.6V8.9l2,7.5c0.1,0.2,0.2,0.4,0.3,0.5
                c0.2,0.1,0.4,0.2,0.6,0.2c0.1,0,0.2,0,0.2,0l4.4-1.2c0.1,0,0.2-0.1,0.3-0.2c0.1-0.1,0.2-0.2,0.2-0.3C19.3,15.3,19.3,15.1,19.2,14.8z
                 M4.6,15.3H1.8v-1.8h2.8V15.3z M4.6,11.7H1.8V6.2h2.8V11.7z M4.6,4.3H1.8V2.5h2.8V4.3z M9.1,15.3H6.4v-1.8h2.8V15.3z M9.1,11.7H6.4
                V6.2h2.8V11.7z M9.1,4.3H6.4V2.5h2.8V4.3z M11.2,2.8L13.9,2l0.5,1.8l-2.7,0.7L11.2,2.8z M13.6,11.6l-1.4-5.3l2.7-0.7l1.4,5.3
                L13.6,11.6z M14.5,15.1L14,13.4l2.7-0.7l0.5,1.8L14.5,15.1z"/>
            </svg>
            <a class="nav-link ps-0 fw-bold{% if route == '/' or route == '/catalogue'  %} text-white {% else %} text-primary {% endif %}" href="{{ path('catalog') }}">Catalogue</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-info rounded-3 text-white" href="{{ path('app_logout') }}">Se déconnecter</a>
        </li>
    </ul>
{# NAVIGATION FOR REST OF WEB APP #}
{% else %}
    <nav class="navbar navbar-expand-lg navbar-light  {% if route == '/' or route == '/catalogue' %}is-transparent{% endif %}">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="
                {% if route == '/' or route == '/catalogue' %}{{ asset('build/images/logo-white.png') }}
                {% else %}{{ asset('build/images/logo-colors.png') }}{% endif %}"
                 alt="Logo de la Réserve de la Chapelle">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">

                    {% if app.user%}

                        {% if is_granted ('ROLE_ADMIN') %}
                            {% if route != '/catalogue' %}
                            <li class="nav-item me-3 text-white is-catalog px-3 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18" class="me-2"
                                     viewBox="0 0 19.3 17.1" style="enable-background:new 0 0 19.3 17.1;" xml:space="preserve">
                                    <path class="st0" fill="{% if route == '/'%}white{% else %}text-body{% endif %}" d="M19.2,14.8l-0.9-3.5L15.4,0.7c-0.1-0.2-0.2-0.4-0.4-0.6C14.8,0,14.5,0,14.3,0l-3.5,0.9
                                    c-0.1-0.1-0.2-0.2-0.3-0.2c-0.1-0.1-0.2-0.1-0.4-0.1H0.9c-0.2,0-0.5,0.1-0.6,0.3C0.1,1.1,0,1.3,0,1.6v14.7c0,0.2,0.1,0.5,0.3,0.6
                                    c0.2,0.2,0.4,0.3,0.6,0.3h9.2c0.2,0,0.5-0.1,0.6-0.3c0.2-0.2,0.3-0.4,0.3-0.6V8.9l2,7.5c0.1,0.2,0.2,0.4,0.3,0.5
                                    c0.2,0.1,0.4,0.2,0.6,0.2c0.1,0,0.2,0,0.2,0l4.4-1.2c0.1,0,0.2-0.1,0.3-0.2c0.1-0.1,0.2-0.2,0.2-0.3C19.3,15.3,19.3,15.1,19.2,14.8z
                                     M4.6,15.3H1.8v-1.8h2.8V15.3z M4.6,11.7H1.8V6.2h2.8V11.7z M4.6,4.3H1.8V2.5h2.8V4.3z M9.1,15.3H6.4v-1.8h2.8V15.3z M9.1,11.7H6.4
                                    V6.2h2.8V11.7z M9.1,4.3H6.4V2.5h2.8V4.3z M11.2,2.8L13.9,2l0.5,1.8l-2.7,0.7L11.2,2.8z M13.6,11.6l-1.4-5.3l2.7-0.7l1.4,5.3
                                    L13.6,11.6z M14.5,15.1L14,13.4l2.7-0.7l0.5,1.8L14.5,15.1z"/>
                                </svg>
                                <a href="{{ path('catalog') }}" class="{% if route == '/' or route == '/catalogue' %} text-white {% else %} text-body {% endif %}m-1 text-decoration-none">Catalogue</a>
                            </li>
                            {% endif %}
                            <li class="nav-item me-3 border border-white rounded-3 px-2 py-1">
                                <a href="{{ path('app_logout') }}" class="{% if route == '/' or route == '/catalogue' %} text-white {% else %} text-body {% endif %}text-decoration-none">Se déconnecter</a>
                            </li>
                            <li class="nav-item me-3 border border-info bg-info rounded-3 text-white is-catalog px-3 d-flex">
                                <figure class="mb-0 mt-1 me-1"><img src="{{ asset('build/images/icon-dashboard.svg') }}" alt="Icon du dashboard" width="18" height="18"></figure>
                                <a href="{{ path('dashboard') }}" class="{% if route == '/' or route == '/catalogue' %} text-white {% else %} text-body {% endif %}m-1 text-decoration-none">Dashboard</a>
                            </li>

                        {% else %}
                        <li class="nav-item me-3">
                            <p class="{% if route == '/' or route == '/catalogue' %} text-white {% else %} text-body {% endif %}my-0">Bonjour {{ app.user.firstname }}</p>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle bg-info rounded-3 text-white is-catalog px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Mon compte
                            </a>
                            <ul class="dropdown-menu mt-3" aria-labelledby="navbarDropdown">
                                <li class="text-end my-2"><a class="dropdown-item" href="#">Mes emprunts</a></li>
                                <li class="text-end my-2"><a class="dropdown-item" href="#">Mon profil</a></li>
                                <li class="text-end my-2 text-info">
                                    <a class="dropdown-item d-flex justify-content-end text-secondary" href="{{ path('app_logout') }}">
                                        <figure class="me-2 my-0">
                                            <img src="{{ asset('build/images/icon-logout.svg') }}" alt="Icon de déconnexion" width="18" height="18">
                                        </figure>
                                        Me déconnecter</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}

                    {% else %}
                        <li class="nav-item me-3">
                            <a class="nav-link {% if route == '/' or route == '/catalogue' %} text-white {% else %} text-body {% endif %}" href="{{ path('app_login') }}">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  bg-info rounded-3 text-white" href="{{ path('register') }}">S'inscrire</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endif %}
