{% extends 'base.html.twig' %}

{% block title %}Catalogue La Réserve de la Chapelle{% endblock %}

{% block body %}
    <div class="container-xxl box-shadow is-bg">
        {{ include ('_navigation.html.twig') }}

        {# HEADER #}
        <section>
            <div class="header d-flex flex-column justify-content-center align-items-center is-catalog" style="background-image:url('{{ asset('build/images/catalog-bg.png') }}')">
                <h1 class="text-center text-light mt-5">Je recherche ...</h1>
                <div class="input-group mt-3 w-50">
                    <span class="input-group-text bg-white border-white">
                        <figure class="mb-0">
                            <img src="{{ asset('build/images/icon-search.svg') }}" alt="Icon de recherche" height="24" width="24">
                        </figure>
                    </span>
                    <input type="text" class="form-control py-2 search-catalog border-white" placeholder="Hagrid et les sept nains ..." name="search-by-title" aria-label="searchByTitle">
                </div>
                {#  <form class="mt-3 w-50"><input type="text" id="" placeholder="Hagrid et les septs nains ..." class="form-control py-2" name="searchByTitle"></form>#}
            </div>
        </section>

        <section style="height:150px">
            <div class="d-flex align-items-center float-end mt-5 me-5">
                <figure class="my-0">
                    <img src="{{ asset('build/images/icon-filter.svg') }}" alt="Icon de filtres" width="18" height="18">
                </figure>

                <select class="type-filter form-select border-0" aria-label=".form-select-lg">
                    <option selected>Tous les livres</option>
                    {% for type in types %}
                        <option value="{{ type.name }}">{{ type.name | capitalize}}</option>
                    {% endfor %}
                </select>
            </div>
        </section>


        <section class="types-container">
        {% for type in types %}
            <div class="{{ type.name }}-section my-5 p-5">
                <h2 class="type-name fs- text-muted opacity-25">{{ type.name | capitalize }}</h2>
                <div class="d-flex flex-column flex-md-row justify-content-around align-items-center">
                    <div class="{{ type.name | url_encode | replace ({'%20':'-'}) }}-book-{{ loop.index }} rounded-3 pe-3 d-flex flex-column align-items-end justify-content-end">
                        <figure>
                            <img src="{{ asset('build/images/reserved-ribbon.svg') }}" alt="Ruban réservé" width="72" height="25">
                        </figure>
                        <p class="text-white fw-bold">Titre</p>
                        <p class="text-white">Auteur</p>
                    </div>
                    <div class="book-1 rounded-3"></div>
                    <div class="book-1 rounded-3"></div>
                    <div class="book-1 rounded-3"></div>
                </div>
            </div>
        {% endfor %}
        </section>

        {{ include ('_footer.html.twig') }}
    </div>
{% endblock %}
